ul.messages li p{
border:1px solid black;
border-radius:5px;	
}
ul.messages li p.info{
border-color:blue;	
color:blue;
}
ul.messages li p.success{
border-color:green;	
color:green;
}
ul.messages li p.warning{
border-color:orange;	
color:white;
background-color:orange;
}
ul.messages li p.error{
border-color:red;	
color:white;
background-color:red;
}